
#gameHeader {
  opacity: 1;
  height: 100vh;
  background: #000;
}

#gameHeader.fade {
  animation: removeHeight 2s ease-in-out 1;
  height: 0vh;
  background: transparent;
}

@keyframes removeHeight {
  0% {
    height: 100vh;
    background: #000;
  }

  100% {
    height: 0px;
    background: transparent;
  }
}

#gameHeader.fade .title-wrap {
  animation: fadeOut 1.5s ease-in-out 1;
  opacity: 0;
  height: 0px;
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-scene {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  display: none;
}

h1 {
  color: rgba(225, 225, 225, 0.01);
  margin: 0;
  font-size: 10rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  background-image: url("../img/title-background.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 10s ease-in-out 1;
}

@keyframes animate {
  0%{
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.start-game {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.start-game button {
  text-transform: uppercase;
}

.btn-container {
  margin-bottom: 30px;
}

.play {
  margin-bottom: 50px;
}

.btn-container button {
  background-color: #0e5a8a;
  border: 1px solid #0b4b73;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 7px 15px;
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.btn-container button:hover,
.btn-container button:focus {
  background-color: #0b4b73;
  border: 1px solid #083551;
}

.players-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (min-width: 1280px) {
  .players-container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0 20px;
  }
}

.text {
  display: flex;
  justify-content: center;
}

.text p {
  color: #66806d;
  font-weight: 600;
  padding: 10px 0;
  margin: 20px 0;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
}

.one-player {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  min-height: 450px;
  gap: 0px 30px;
}

@media all and (min-width: 600px) {
  .one-player {
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-height: 350px;
  }
}

.player {
  flex-basis: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media all and (min-width: 600px) {
  .player {
    align-items: flex-start;
  }
}

.player p {
  margin: 10px 0;
  font-weight: 600;
  color: #574f4e;
}

@media all and (max-width: 450px) {
  .player-deck,
  .player-card-slot {
    width: calc(50% - 15px);
  }
}

#player1Score,
#player2Score {
  font-weight: 400;
}




.player-deck {
  position: relative;
}

.deck-back {
  background: url(../img/cardback.gif) top left repeat;
}

.deck-back:nth-child(n + 2) {
  position: absolute;
  top: 10px;
}

.deck-back:nth-child(3) {
  top: 20px;
}

.deck-back:nth-child(4) {
  top: 30px;
}

.deck-back:nth-child(5) {
  top: 40px;
}

.deck-back:nth-child(6) {
  top: 50px;
}

.deck-back:nth-child(7) {
  top: 60px;
}

.deck-back:nth-child(8) {
  top: 70px;
}

.deck-back:nth-child(9) {
  top: 80px;
}

.deck-back:nth-child(10) {
  top: 90px;
}

.deck-back:nth-child(11) {
  top: 100px;
}

.deck-back:nth-child(12) {
  top: 110px;
}

.deck-back:nth-child(13) {
  top: 120px;
}
