h1 {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  position: relative;
  width: 150px;
  height: 225px;
  background-color: transparent;
  perspective: 1000px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner,
.card:focus .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back{
  background: url(../img/cardback.gif) top left repeat;
  transform: rotateY(180deg);

}

.card-front{
  padding: 1px 3px;
  background: #fff;
}

.front {
  background: #fff;
  padding: 1px 3px;
  color: #000000;
}

.hearts,
.diamonds {
  color: #890000;
}
/* .spades, .clubs { color: #000; } */

.card-topleft {
  position: absolute;
  top: 0.3em;
  left: 0.5em;
}

.card-bottomright {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
  transform: rotate(180deg);
}

.card-corner-rank,
.card-corner-suit {
  font-size: 0.9em;
  line-height: 1.25;
  text-align: center;
}

.card-suits {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 2rem;
}

.ace {
  justify-content: center;
}

.card-suit {
  display: flex;
  justify-content: center;
  position: relative;
}

.card-suit img {
  width: 85%;
  height: auto;
}

.ordered {
  flex-flow: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.ordered .card-suit {
  flex-basis: 50%;
}

.ordered .card-suit.centered {
  flex-basis: 100%;
}

.absoluteSymbol{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.absoluteSymbol.ten{
  top: 40px;
}

.absoluteSymbolBottom{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.absoluteSymbolBottom.ten{
  bottom: 40px;
}

.absoluteSymbolCentered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


